<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2022-2022 The Billing Project, LLC

  The Billing Project licenses this file to you under the Apache License, 
  version 2.0 (the "License"); you may not use this file except in compliance 
  with the License.  You may obtain a copy of the License at:

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
  License for the specific language governing permissions and limitations
  under the License.
-->
<Settings>
  <!--
      The directories containing Java source code. 
      Each directory should be the root directory of a Java Package Structure.
      In a Java Package Structure, each subdirectory of corresponds to a Java package.
  -->
  <sourceDirectories>
    <sourceDirectory>input/project/src/main/java</sourceDirectory>
  </sourceDirectories>
  <!--
    The directories containing Jar dependencies of the source code.
  -->
  <dependencyDirectories>
    <dependencyDirectory>input/lib</dependencyDirectory>
  </dependencyDirectories>
  <!--
    The subpackage to place the generated classes.
  -->
  <outputSubpackage>boilerplate</outputSubpackage>
  <!--
    The prefix of the generated class name.
  -->
  <outputClassPrefix></outputClassPrefix>
  <!--
    The suffix of the generated class name.
  -->
  <outputClassSuffix>Imp</outputClassSuffix>
  <!--
    The directory to output the Java Package Structure of the POJOs.
  -->
  <outputDirectory>output/project/src/main/java</outputDirectory>
  <!--
    The directory to place the generated resources.
  -->
  <resourceDirectory>output/project/src/main/resources</resourceDirectory>
  <!--
    The directory to output the Java Package Structure of the the test units.
  -->
  <testDirectory>output/project/src/test/java</testDirectory>
  <!--
    Generate output for the following packages.
  -->
  <acceptedPackages>
    <package>org.killbill.billing</package>
    <package>org.killbill.billing.tenant</package>
    <package>org.killbill.billing.tenant.api</package>
    <package>org.killbill.billing.util</package>
    <package>org.killbill.billing.util.customfield</package>
    <package>org.killbill.billing.util.nodes</package>
    <package>org.killbill.billing.util.entity</package>
    <package>org.killbill.billing.util.audit</package>
    <package>org.killbill.billing.util.queue</package>
    <package>org.killbill.billing.util.callcontext</package>
    <package>org.killbill.billing.util.api</package>
    <package>org.killbill.billing.util.tag</package>
    <package>org.killbill.billing.security</package>
    <package>org.killbill.billing.security.api</package>
    <package>org.killbill.billing.payment</package>
    <package>org.killbill.billing.payment.plugin</package>
    <package>org.killbill.billing.payment.plugin.api</package>
    <package>org.killbill.billing.payment.api</package>
    <package>org.killbill.billing.catalog</package>
    <package>org.killbill.billing.catalog.api</package>
    <package>org.killbill.billing.catalog.api.rules</package>
    <package>org.killbill.billing.osgi</package>
    <package>org.killbill.billing.osgi.api</package>
    <package>org.killbill.billing.osgi.api.config</package>
    <package>org.killbill.billing.usage</package>
    <package>org.killbill.billing.usage.api</package>
    <package>org.killbill.billing.account</package>
    <package>org.killbill.billing.account.api</package>
    <package>org.killbill.billing.entitlement</package>
    <package>org.killbill.billing.entitlement.api</package>
    <package>org.killbill.billing.currency</package>
    <package>org.killbill.billing.currency.api</package>
    <package>org.killbill.billing.overdue</package>
    <package>org.killbill.billing.overdue.api</package>
    <package>org.killbill.billing.invoice</package>
    <package>org.killbill.billing.invoice.api</package>
    <package>org.killbill.billing.invoice.api.formatters</package>
  </acceptedPackages>
  <!--
    Generate output for the following interfaces.
  -->
  <acceptedInterfaces>
  <!--
    <interface> org.killbill.billing.catalog.api.Unit</interface>
  -->
  </acceptedInterfaces>
  <!--
    The list of types to use Comparable.compareTo() instead of Object.equals() for equality.
  -->
  <comparableTypes>
      <type>java.math.BigDecimal</type>
      <type>org.joda.time.DateTime</type>
      <type>org.joda.time.LocalDate</type>
  </comparableTypes>
  <!--
    The name of the static inner class implementing the Builder pattern for each generate POJO.
  -->
  <builderClass>Builder</builderClass>
  <!--
    The name of the class extending `com.fasterxml.jackson.databind.AbstractTypeResolver' for each package.
  -->
  <resolverClass>Resolver</resolverClass>
  <!--
    The name of the class extending `com.fasterxml.jackson.databind.Module` for each package.
  -->
  <moduleClass>Module</moduleClass>
 </Settings>

