<?xml version="1.0" encoding="UTF-8"?>
<Settings>
  <!--
    The directories containing Java source code.
  -->
  <sourceDirectories>
    <sourceDirectory>input</sourceDirectory>
  </sourceDirectories>
  <!--
    The directories containing Jar dependencies of the source code.
  -->
  <dependencyDirectories>
    <dependencyDirectory>lib</dependencyDirectory>
  </dependencyDirectories>
  <!--
    The subpackage to place the generated classes.
  -->
  <outputSubpackage>boilerplate</outputSubpackage>
  <!--
    The prefix of the generated class name.
  -->
  <outputClassPrefix></outputClassPrefix>
  <!--
    The suffix of the generated class name.
  -->
  <outputClassSuffix>Imp</outputClassSuffix>
  <!--
    The directory to place the generated Java source code of the POJOs.
  -->
  <outputDirectory>output</outputDirectory>
  <!--
    The directory to place the generated resources.
  -->
  <resourceDirectory>resources</resourceDirectory>
  <!--
    The directory to place the generated Java source code of the unit tests.
  -->
  <testDirectory>test</testDirectory>
  <!--
    Generate output for the following packages
  -->
  <acceptedPackages>
    <!--
      <package>org.killbill.billing.catalog.api</package>
    -->
  </acceptedPackages>
  <!--
    Generate output for the following interfaces
  -->
  <acceptedInterfaces>
    <!--
      <interface>org.killbill.billing.catalog.api.Unit</interface>
    -->
  </acceptedInterfaces>
  <!--
    The list of types to use Comparable.compareTo() instead of Object.equals() for equality
  -->
  <comparableTypes>
    <!--
      <type>org.joda.time.DateTime</type>
    -->
  </comparableTypes>
  <!--
    The name of the static inner class implementing the Builder pattern for each generated POJO
  -->
  <builderClass>Builder</builderClass>
  <!--
    The name of the class implementing `com.fasterxml.jackson.databind.AbstractTypeResolver' for each package
  -->
  <resolverClass>Resolver</resolverClass>
  <!--
    The name of the class implementing`com.fasterxml.jackson.databind.Module` for each package
  -->
  <moduleClass>Module</moduleClass>
</Settings>

